# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production build
/build
/.next
/out
/dist

# environment variables
.env           # ⬅️ ADD THIS LINE to ignore the main .env file
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.vscode/
.idea/
